<header>
    <h1>Dashboard</h1>
</header>

<main>
    <div class="informacoesDoGrafico">

        <div class="cards">
            <span>Total de unidades</span>
            <h3>{{numeroUnidade}}</h3>
        </div>
        <div class="cards">
            <span>Unidades ativas</span>
            <h3>{{unidadeAtiva}}</h3>
        </div>
        <div class="cards">
            <span>Unidades inativas</span>
            <h3>{{unidadeInativa}}</h3>
        </div>
        <div class="cards">
            <span>Média de energia</span>
            <h3>{{somaEnergia / numeroUnidade}} kw</h3>
        </div>

    </div>

    <div class="grafico">

    </div>
</main>