<header>
    <h1>Unidades</h1>
</header>

<main>

    <h3>Cadastro de Unidade Geradora</h3>

    <div class="form">

        <span class="txt">Apelido</span>
        <input type="text" placeholder="Painel 1" [(ngModel)]="nome">

        <span class="txt">Local</span>
        <input type="text" placeholder="Rua 3" [(ngModel)]="local">

        <span class="txt">Marca</span>
        <input type="text" placeholder="Resun" [(ngModel)]="marca">

        <span class="txt">Modelo</span>
        <input type="text" placeholder="155" [(ngModel)]="modelo">
 
        <div>
            <input type="checkbox" class="inptCheck" [(ngModel)]="ativa">
            <span class="txtCheck">Ativo</span>
        </div>

        <button (click)="salvarGeracao()" routerLink="/unidades">Salvar</button>

    </div>

</main>